* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #1f2a44; /* dark outer background */
}

/* Layout */
.app-container {
  display: flex;
  background: #f4f6fb;
  min-height: 100vh;
  /* margin: 20px; */
  /* border-radius: 20px; */
  overflow: hidden;
}

/* Sidebar */
/*
.sidebar {
  width: 260px;
  background: #ffffff;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  padding: 12px 15px;
  border-radius: 10px;
  transition: 0.2s ease;
}

.nav-links a:hover {
  background: #eef0ff;
  color: #4f46e5;
}

.nav-links .active {
  background: #eef0ff;
  color: #4f46e5;
  font-weight: 600;
} */
.sidebar {
  width: 260px;
  background: #ffffff;
  padding: 30px 20px;
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 40px;
}

.logo-icon {
  font-size: 22px;
  color: #4f46e5;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #555;
  padding: 12px 15px;
  border-radius: 12px;
  font-weight: 500;
  transition: all 0.2s ease;
  position: relative;
}

.nav-item:hover {
  background: #eef0ff;
  color: #1a0ff1;
}

.nav-item.active {
  background: #e9eaff;
  color: #4f46e5;
  font-weight: 600;
}

/* CART BADGE */

.cart-link {
  position: relative;
}

.cart-badge {
  position: absolute;
  right: 15px;
  background: #ff4d4f;
  color: white;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 20px;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 30px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 15px 25px;
  border-radius: 15px;
}

.search-input {
  width: 350px;
  padding: 10px 15px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  outline: none;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Title */
.page-title {
  margin: 20px 0 20px;
  font-size: 22px;
  font-weight: 600;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

/* Product Card */
.product-card {
  background: white;
  padding: 15px 0px;
  border-radius: 18px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
  text-align: center;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.product-title {
  margin: 0px 2px;
  font-weight: 400;
  font-size: medium;
}

.product-price {
  font-weight: 700;
  margin-bottom: 15px;
}

.btn-primary {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-primary:hover {
  background: #4338ca;
}